Source: golang-github-coreos-pkg-capnslog
Section: devel
Priority: extra
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
XSBC-Original-Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Tim Potter <tpot@hpe.com>
Build-Depends: debhelper (>= 9),
               dh-golang (>= 1.17~),
               golang-go,
               golang-github-coreos-go-systemd-dev,
               golang-golang-x-crypto-dev,
               golang-yaml.v2-dev
Standards-Version: 3.9.8
Homepage: https://github.com/coreos/pkg
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/golang-github-coreos-pkg.git
Vcs-Git: https://anonscm.debian.org/git/pkg-go/packages/golang-github-coreos-pkg.git
XS-Go-Import-Path: github.com/coreos/pkg

Package: golang-github-coreos-pkg-capnslog-dev
Architecture: all
Depends: ${shlibs:Depends},
         ${misc:Depends},
         golang-go,
         golang-github-coreos-go-systemd-dev,
         golang-golang-x-crypto-dev,
         golang-yaml.v2-dev
Description: collection of Go utility packages
 This package contains the capnslog library written by CoreOS, Inc.
